body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}

.clock {
    width: 300px;
    height: 300px;
    border: 8px solid white;
    border-radius: 50%;
    position: relative;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(0deg);
    background: white;
}


.hour {
    width: 8px;
    height: 70px;
    animation: spin 43200s linear infinite;
}

.minute {
    width: 6px;
    height: 100px;
    animation: spin 3600s linear infinite;
}

.second {
    width: 2px;
    height: 120px;
    background: red;
    animation: spin 60s linear infinite;
}


@keyframes spin {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

.clock::after {
    content: "";
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}