* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.header {
    background-color: rgb(13, 191, 222);
    color: white;
    padding: 20px;
    text-align: center;
}



.nav {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    background-color: aqua;
   

}

.nav-item {
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}


.main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: rgb(229, 149, 44);

}

.card {
    background-color: rgb(134, 224, 7);
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.footer {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 15px;
}